#root {
  width: 100%;
}

.site-wrapper {
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 540px;
  margin: auto;
}
